2023_03_09-AppConsoleDBIntegration/AppConsoleDB/.vs
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/bin
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Log
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/obj
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Properties
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/AppConsoleDB.csproj
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/AppConsoleDB.sln
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Lib/bin
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Lib/obj
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Lib/Properties
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/Lib/Lib.csproj
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/.vs/AppConsoleDB/FileContentIndex/6b6e0331-9729-47a5-a1f5-ec376df0e439.vsidx
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/obj/Debug/net7.0/AppConsoleDB.pdb
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/bin/Debug/net7.0/AppConsoleDB.pdb
2023_03_09-AppConsoleDBIntegration/AppConsoleDB/.vs
WebApp/obj/Debug
