<!-- FRAME 1 -->
<section id="frame1">
  <div id="hello">
    <h1>Benvenuto in Betacomare</h1>
  </div>
</section>

<!-- FRAME 2 -->
<section id="frame2">

  <h1 id="showcaseTitle">
    Components
  </h1>

  <div class="productInline">
    <mat-card class="container" id="casco">
      <img mat-card-image
        src="https://img.freepik.com/free-photo/man-with-bike-helmet_23-2148139052.jpg?w=740&t=st=1682587974~exp=1682588574~hmac=f9f46a758adc7cbeec9b555ecbca84b3f53e396faf80bb3c8bc088d98888a36c"
        alt="casco">
      <div>
        <a class="btn" href="products">Helmet</a>
      </div>
    </mat-card>

    <mat-card class="container" id="bici">
      <img mat-card-image
        src="https://img.freepik.com/free-photo/vintage-black-small-bicycle-outdoors_23-2148907965.jpg?w=740&t=st=1682600318~exp=1682600918~hmac=934bb85e379cda92da1755fdd5def0abde5dccfb4974fa49f97965fd6ea6d038"
        alt="bici">
      <div>
        <a class="btn" href="products">Bicycle</a>
      </div>
    </mat-card>

    <mat-card class="container" id="ruote">
      <img mat-card-image
        src="https://img.freepik.com/free-photo/close-up-bicycle-outdoors_23-2148889105.jpg?w=740&t=st=1682604648~exp=1682605248~hmac=cdd484302f590431669af2026c565f9d3232158ef36f802c8698407243f9fc26"
        alt="ruote">
      <div>
        <a class="btn" href="products">Wheels</a>
      </div>
    </mat-card>
  </div>

  <div class="productInline">
    <mat-card class="container" id="pedali">
      <img mat-card-image src="assets/pedali.png" alt="pedale">
      <div>
        <a class="btn" href="products">Pedal</a>
      </div>
    </mat-card>

    <mat-card class="container" id="manubri">
      <img mat-card-image src="assets/gloves.png" alt="manubrio">
      <div>
        <a class="btn" href="products"> Gloves </a>
      </div>
    </mat-card>

    <mat-card class="container" id="panataloncino">
      <img mat-card-image src="assets/panta.png" alt="pantaloncino">
      <div>
        <a href="products" class="btn"> Pantaloncini</a>
      </div>
    </mat-card>
  </div>
</section>

<!-- FRAME 3 -->
<section id="frame3">
  <div style="color: rgb(247, 243, 243); text-align: center;">
    <div id="authors">
      <h1> Authors </h1>
    </div>


    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img
            src="https://media.licdn.com/dms/image/C4E03AQHg0f8KpLSyTA/profile-displayphoto-shrink_800_800/0/1640476969860?e=1687392000&v=beta&t=5IsJ7hOABEP3WfzE5jrKGYcs-B1yZVOevOMVF0h8FZI"
            class="card-img-top" alt="Alessandro">
          <div class="card-body">
            <p class="card-text" style="color: white;">Alessandro Ianniello</p>
          </div>
        </div>
        <div class="description">
          <p style="right: 5em; top: 103em; left:18em ; font-style: italic;">
            Ruolo:
            <br> Sviluppatore backend
            <br> del progetto betacomare
            <br>
            <br> Titolo:
            <br> Caporeparto IT e junior full stack developer
          </p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img
            src="https://media.licdn.com/dms/image/D4D03AQExenZTJ-swFA/profile-displayphoto-shrink_800_800/0/1665508665834?e=1687392000&v=beta&t=cHQSq6T9VUjK5THe9ieVYA2lFMZnaaENEh_S93Y6aZM"
            class="card-img-top" alt="Marco Ghi">
          <div class="card-body">
            <p class="card-text" style="color: white;">Marco
              <br style="color: white;">Ghi
          </div>
        </div>
        <div class="description">
          <p style="top:103em; left:54em; font-style: italic;">
            Ruolo:
            <br> Sviluppatore backend
            <br> del progetto betacomare
            <br>
            <br> Titolo:
            <br> Caporeparto IT e junior full stack developer
          </p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img
            src="https://media.licdn.com/dms/image/D4D03AQF2N3pgVLRaNA/profile-displayphoto-shrink_200_200/0/1664392315691?e=1687392000&v=beta&t=L7S91mmJg6XRSDCnTlYCZ43H8naEeOfyR7cxxCKYCoQ"
            class="card-img-top" alt="Giorgio">
          <div class="card-body">
            <p class="card-text" style="color: white;">Giorgio Guzzinati </p>
          </div>
        </div>
        <div class="description">
          <p style="right: 5em; top: 121em; left: 18em; font-style: italic;">
            Ruolo:
            <br> Sviluppatore frontend
            <br> del progetto betacomare
            <br>
            <br> Titolo:
            <br>junior full stack developer e web designer
          </p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img
            src="https://media.licdn.com/dms/image/D4D03AQHNt60ksAyBgw/profile-displayphoto-shrink_800_800/0/1680084814937?e=1687392000&v=beta&t=I2yXzMqre50tsMAHBmJpGsL2YiR5cQpobsh5Ed73XK8"
            class="card-img-top" alt="Teodor">
          <div class="card-body">
            <p class="card-text" style="color: white;">Teodor Draghici</p>
          </div>
        </div>
        <div class="description">
          <p style="top: 121em; left: 54em; font-style: italic;">
            Ruolo:
            <br> Sviluppatore backend
            <br> del progetto betacomare
            <br>
            <br> Titolo:
            <br> Caporeparto IT e junior full stack developer
          </p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img
            src="https://media.licdn.com/dms/image/C4D03AQGSlFJhF-ereQ/profile-displayphoto-shrink_200_200/0/1553425425041?e=1688601600&v=beta&t=C2ryk8QtuqgtgRACOLkacXQCwjAWQYh-r58b0O2ksBU"
            class="card-img-top" alt="Claudio">
          <div class="card-body">
            <p class="card-text" style="color: white;">Claudio Orlandi</p>
          </div>
        </div>
        <div class="description">
          <p style="right: 38em; top: 138em; left: 19em; font-style: italic;">
            Ruolo:
            <br> Project Maneger
            <br> di betacomare
            <br>
            <br> Titolo:
            <br> CEO
          </p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card" style="width: 10rem;">
          <img src="assets\Michele.png" class="card-img-top" alt="Michele">
          <div class="card-body">
            <p class="card-text" style="color: white;">Michele Maccioni</p>
          </div>
        </div>
        <div class="description">
          <p style="top: 138em; left: 54em; font-style: italic;">
            Ruolo:
            <br> Sviluppatore backend
            <br> del progetto betacomare
            <br>
            <br> Titolo:
            <br> Caporeparto IT e junior full stack developer
          </p>
        </div>
      </div>
    </div>
  </div>
</section>